@font-face {
  font-family: nareum;
  src: url(../fonts/nareumgothic.woff) format('woff');
  src: url(../fonts/nareumgothic.woff2) format('woff2');
  font-weight: normal;
}
* {
  font-family: nareum, sans-serif;
}
html,
body {
  scroll-behavior: smooth; /* 매끄러운 스크롤 */
  width: 100%;
  height: 100%;
  background-color: #fefbf3;
  overflow: scroll; /* 스크롤 활성화 */
}

header {
  height: 100px;
  padding: 15px 50px 0px 0px;
  font-size: 60px;
  color: #79b4b7;
  font-weight: 600;
  text-align: end;
  border-bottom: 5px #79b4b7 solid;
  background-color: #f8f0df;
}

.wrapper {
  width: 100%;
  height: 1000px;
  display: flex;
  border-bottom: 2px solid black;
}

.addButton {
  padding: 10px;
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 10px;
  top: 0; /* 스크롤 시 상단에서 고정 위치 */
  position: sticky;
}
.addButton {
  cursor: pointer;
  text-decoration: underline;
  color: #79b4b7;
  font-weight: 600;
  font-size: 15px;
}
.aside {
  flex: 1;
  border-right: 2px #9d9d9d dotted;
  height: 100%;
  max-width: 250px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 0;
  margin-right: -2px;
  border-bottom: none;
  border-left: 0;
  background-color: #79b4b7;
  color: #fffcf2;
  position: relative;
}

.addCategory {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 90%;
  cursor: pointer;
  transition: 0.5s ease;
  filter: invert(100%) sepia(20%) saturate(2015%) hue-rotate(326deg)
    brightness(115%) contrast(109%);
}
.addCategory:hover {
  transform: scale(1.7) rotate(90deg);
}
.addCategory:active {
  transition: 0.1s ease;
  transform: translateY(2px) rotate(90deg);
}
.categoryList {
  text-align: center;
}
.category {
  padding: 10px 0px;
  border: 1.5px solid #9d9d9d;
  margin-right: -2px;
  cursor: pointer;
  user-select: none; /* 드래그 금지 */
  background-color: #f8f0df;
  color: #79b4b7;
  font-weight: 700;
}
.category:hover {
  transition: ease 0.1s;
  transform: scale(1.05);
}
.category:active {
  transform: rotateY(10deg);
}
/* 오른쪽 전체 구역 */
.content {
  display: flex;
  flex-direction: column;
  flex: 5;
  width: 80%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 30px 50px;
  overflow: auto;
}

/* 글 하나 */
.post {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 60px;
  margin-bottom: 30px;
}
.categoryName {
  text-align: end;
  font-size: 13px;
  color: #b6b6b6;
  font-weight: 700;
}
.postHeader {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 5px;
}
.postDate {
  margin-bottom: 40px;
  font-size: 12px;
  color: #9aa6b2;
}
/* 글 하나의 본문 */
.postContent {
  text-wrap: pretty;
}
/* 댓글 전체 구역 */
.comment {
  background-color: #f8f0df;
  margin-top: 50px;
  padding: 10px 30px 0px 30px;
  border: 1px solid #79b4b7;
  border-radius: 10px;
  flex: 1;
  font-size: 14px;
  width: 500px;
  margin-left: 210px;
}
.comment h1 {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 7px;
  font-weight: 800;
  font-size: 15px;
  color: #79b4b7;
  background-color: #fefbf3;
  border: 2px solid #79b4b7;
  border-radius: 10px;
}
/* 댓글이 저장되는 박스 */
.commentList {
  align-items: center;
  padding: 20px 35px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  height: 20px;
  background-color: #fefbf3;
}
.commentBox {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  height: 40px;
}
.commentBoxForm {
  border: 1px solid #fffcf2;
}
.commentBoxForm:focus {
  border: none;
  outline: 2px solid #79b4b7;
}

#username {
  width: 80px;
  border: 1px solid #79b4b7;
  border-radius: 10px;
  padding-left: 5px;
}
#comment {
  border: 1px solid #79b4b7;
  border-radius: 10px;
  width: 70%;
  padding-left: 10px;
}
.addComment {
  width: 80px;
  border: 1px solid #fffcf2;
  border-radius: 15px;
  cursor: pointer;
  background-color: #79b4b7;
  color: #fffcf2;
}
.addComment:hover {
  transform: scale(1.04);
}
.addComment:active {
  transform: translateY(3px);
}

footer {
  height: 200px;
  margin: 10px 30px;
}

.moveItem {
  text-align: center;
}
.moveToTop {
  display: inline-block; /* inline-block 사용 */
  margin-bottom: 40px;
  text-decoration: none;
  color: black;
  padding: 10px 20px; /* 스타일을 추가 */
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  background-color: #f0f0f0;
  transition: 0.5s ease;
}

.moveToTop:hover {
  background-color: #b6b6b6;
}

/* 블로그 글 추가 */
.newPost {
  border: 1px solid #79b4b7;
  border-radius: 10px;
  padding: 40px 60px;
  overflow: visible;
  margin: 30px 0px;
}

.newPostHeader {
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1.5px solid #9d9d9d;
  border-radius: 15px;
  background-color: #fefbf3;
  width: 80%;
  font-size: 20px;
}
.newPostHeader:focus {
  outline: 2px solid #79b4b7;
  border: none;
}

.newPostDate {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 40px;
  border: 1.5px solid #9d9d9d;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #fefbf3;
}

.newPostDate:focus {
  outline: 2px solid #79b4b7;
  border: none;
}
.newPostCategory {
  display: flex;
  margin: 5px 30px 10px auto;
  border: 1.5px solid #9d9d9d;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #fefbf3;
}
.newPostCategory:focus {
  outline: 2px solid #79b4b7;
  border: none;
}
.newPostContent {
  padding: 20px 30px;
  width: 90%;
  resize: unset;
  overflow: visible;
  height: 500px;
  font-size: 15px;
  border: 1.5px solid #9d9d9d;
  border-radius: 15px;

  background-color: #fefbf3;
}

.newPostContent:focus {
  outline: 2px solid #79b4b7;
  border: none;
}
.buttons {
  display: flex;
  margin-left: auto;
  justify-content: end;
  gap: 5px;
}
.uploadPost {
  margin-top: 50px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  user-select: none; /* 드래그 금지 */
  border: 2px solid #79b4b7;
  border-radius: 10px;
  background-color: #fefbf3;
  color: #79b4b7;
  font-weight: 800;
  font-size: 14px;
}

.uploadPost:hover {
  transition: ease 0.1s;
  transform: scale(1.1);
}
.uploadPost:active {
  transform: rotateY(10deg);
  color: #fefbf3;
  background-color: #79b4b7;
}
